@model Student

@{
    ViewData["Title"] = "Oluştur";
}
<h1>Yeni Oluştur</h1>
<h4>Öğrenci</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentNo" class="control-label"></label>
                <input asp-for="StudentNo" class="form-control" />
                <span asp-validation-for="StudentNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentSurname" class="control-label"></label>
                <input asp-for="StudentSurname" class="form-control" />
                <span asp-validation-for="StudentSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentEmail" class="control-label"></label>
                <input asp-for="StudentEmail" class="form-control" />
                <span asp-validation-for="StudentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentTelNo" class="control-label"></label>
                <input asp-for="StudentTelNo" class="form-control" />
                <span asp-validation-for="StudentTelNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DepartmentId)
                @Html.DropDownListFor(m => m.DepartmentId,
                                      Model.departments,
                                      "- Lütfen departman seçiniz. -",
                                      new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Listeye Dön</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
